# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# environment variables file
var.env

# others
.editorconfig
.vscode

.git.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# scratch
.idea

# IDE specific
.vscode
.editorconfig

# distribution files
*.egg-info
dist/